.Preview {
  text-align: initial;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: large;
}

.Preview img {
  max-width: 100%;
}

.PreviewBlock {
  padding: 1em;
}
